<script>
  // make key server-side information available on the client
  window.glitchApp = {
    algolia: {
      index_name: "{{ algolia.index_name }}",
      app_id: "{{ algolia.app_id }}",
      search_api_key: "{{ algolia.search_api_key }}"
    },
    data: {
      algolia_env: "{{ data.algolia_env }}",
      new_domain: "{{ data.new_domain }}",
      data_structure: "{{ data.data_structure }}",
      upload_data: "{{ data.upload_data }}",
      set_settings: "{{ data.set_settings }}"
    }
  };
</script>