<!DOCTYPE html>
<html>
  {% include "partials/header.html" %}
  <body class="fill-titan">
      <div class="container">
        <div class="col-md-12">
          <div class="col-md-6">
            <span class="spacer8"></span>
            <h2 id="welcome">Algolia Quickstart</h2>
            <p class="lead">Algolia is a search API that helps you add a search bar to websites and applications. In this tutorial you will build an Algolia search step-by-step starting with indexing and ending with search. In just 5 minutes, you'll have learned how search works and have a place to search your favorite actors.</p>
          </div>
          <div class="col-md-6">
            <span class="spacer8"></span>
            [ADD GIF OF SEARCH EXPERIENCE]
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1 class="display-3" id="remix">Remix Instructions</h1>
        <h2 style="text-align: center;"> 😎 Welcome! We are so happy you are here! Try Algolia in 6 simple steps 👯‍</h2>
        <hr style="width: 80%"></hr>
        <ul>
          <li id="step-1" class="current-step">
            🎏 <strong>Step 1: Remix this app</strong> 
            <p class="detailed-steps">
              Click this button, which creates your own live copy of this app that you modify and extend right in your browser. 
            </p>
            <a href="https://glitch.com/edit/#!/remix/instantsearch-quickstart"><img src="https://cdn.glitch.com/2703baf2-b643-4da7-ab91-7ee2a2d00b5b%2Fremix-button.svg" alt="Remix on Glitch" style="float: left"></a>
          </li>
          
          <li id="step-2" style="padding-top: 40px">
            🔑 <strong>Step 2: Get your Algolia API key</strong>
            <p class="detailed-steps">
              Head to <a href="https://www.algolia.com/cc/glitch"> Algolia </a> for API keys. You'll want to copy your <code>admin key</code>, <code>app id</code> and <code> search only key</code>.
              </br>
              Once this is complete, add them to your <code>.env file</code> so your application can run.
              </br>
            </p>
          </li>
          
          <li id="step-3" class="current-step">
            🗃 <strong>Step 3: Prepare JSON data for Algolia</strong>
            <p class="detailed-steps">
              We need to create an index with Algolia with some data we want to search. Head to your <code>server.js</code> file at the root of your project to set your data to index. Start by commenting out some code and follow along with instructions.
            </p>
            <a href="/check-data" id="step-3-btn" class="btn btn-static-secondary">Check data structure</a>
          </li>
          
          <li id="step-4">
            ☁️ <strong>Step 4: Upload data to Algolia index</strong>
            <p class="detailed-steps">
              Go to <code>server/helpers/algolia.js</code> and comment in the function calling our data.
            </p>
            <a href="/upload-data" id="step-4-btn" class="btn btn-static-secondary">Upload data</a>
          </li>
          
          <li id="step-5">
            🛠 <strong>Step 5: Configure index to be searched</strong>
            <p class="detailed-steps">
              Go to <code>server/helpers/algolia.js</code> and comment in the <code>setSettings</code> function.
            </p>
            <a href="/configure-index" id="step-5-btn" class="btn btn-static-secondary">Configure Index</a>
          </li>
          
          <li id="step-6">
            ✨ <strong>Step 6: Add search widgets to UI</strong>
            <p class="detailed-steps">
              Go to <code>public/search.js</code> and comment in the <code>widgets.searchBox</code> and <code>widgets.hits</code>
            </p>
            <a href="/search" id="step-6-btn" class="btn btn-static-secondary">View your data</a>
          </li>
        </ul>
        <hr style="width: 60%"></hr>
        <h1 class="display-3" id="remix">Success!</h1>
        <ul>
          <li style="text-align: center"> 🖥 You've completed the tutorial, you've learned how to: 🖥</li>
          <li style="text-align: center">💫 Index data</li>
          <li style="text-align: center">💪 Configure an index</li>
          <li style="text-align: center">🔎 Add widgets to your UI</li>
        </ul>
        <hr style="width: 60%"></hr>
        <h1 class="display-3" id="remix">What's next?</h1>
        <ul>
          <li style="text-align: center">🕵️ Learn about more options; add more configuration</li>
          <li style="text-align: center">🙋 Share with us that you completed the tutorial! <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=I just finished the tutorial to learn Algolia! 🕵️‍ Remix on @glitch to try it out yourself 🎏">Twitter</a></li>
          <li style="text-align: center">💜 Check out some of our favorite <a href="https://www.glitch.com/algolia">Glitch</a> apps</li>
        </ul>
        <hr style="width: 80%"></hr>
        <h2 style="text-align: center;">🐦 We are so excited to see what you build! Come chat with us on <a href="https://twitter.com/algolia">Twitter</a> 👋 </h2>
      </div>
    </div>
    
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous">
    </script>
    <script src="/client.js"></script>
  {% include "partials/variables.html" %}
  </body>
</html>
</html>